%div.row
  %div.col-xs-6
    %p
      The Mineral Research Institute gives scientists access to minerals held by museums accross the country.  Once research is completed on a specimen, we ask that you send a copy of your results to the sponsoring museum to be added to their records.
    %h2  
      We would like to thank the research community for supporting us and creating an invaluable relationship between museum owned specimens and the scientific community.
    %br
  %div.col-xs-6
    %p
      %img{:src => "/assets/G.RobertCrowningshield.jpeg"}
      
      
      
    
  






= link_to "Visit Our Museums", smithsonians_path
%br

