%div.row
  %div.col-xs-6
    %h2  
      We would like to thank the research community for supporting us and creating an invaluable relationship between museum owned specimen and the scientific community.
    %p
      The Mineral Research Institute gives scientists access to minerals held by museums accross the country.  Once research is completed on a specimen, we ask that you send a copy of your results to the sponsoring museum to be added to their records.
    %br
  %div.col-xs-6
    %img{:src => "/images/C.RobertCrowningshield.jpeg"}






/ %div.container
= link_to "View Museums until nav links are up", smithsonians_path
%br
%br
= link_to "New Museum", new_smithsonian_path
