/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
h1{
padding-top: 60px; 
font-family: "Arvo"; 
color: #757575; 
text-align: center; 
font-weight: 300; 
text-shadow: 2px 2px 0px black; 
letter-spacing: 2px; 
font-height: 2px;
margin-left: 50px;

}
h2{
  font-family: "Great Vibes", cursive;
  text-align: left;
  color: gray;
  margin-top: 40px;
  margin-left: 50px;
}
h3{
  padding-top: 40px; 
  font-family: "Arvo"; 
  color: #757575; 
  text-align: left;
}


body {
  /* Margin bottom by footer height */
margin-left: 20px;
margin-bottom: 60px;
font-family: "Arvo"; 
font-weight: 100px; 
color:  #f5f4e9;
font-size: 16px;
background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60, 24, 28, 0.9)), color-stop(100%, #0e0a2e)), url(/assets/gemstones1.png);
}
body > .container {
padding: 40px 15px 0;
}
.lead{
  font-weight: 100px;
}
.text-muted{
  font-size: 18px; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  font-size: 14px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 20px 0;
}
/* Custom default button */
.btn-default,
.btn-default:hover
.btn-default: focus{
  color: black;
  text-shadow: none; /*do not inherit from 'body'*/
  background-color: white;
  border: 1px solid #fff;
  position: center;
  border-radius: 6px;
}

input{
  color: black;
}
img{
  border-radius: 10px;
}

.pull-right{
color: #A4A4A4;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
body > .container {
  padding: 60px 15px 0;
}
code {
  font-size: 80%;
}
p{
  font-size: 20px;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-left: 50px;
}
a:link, a:visited {
    color: #A4A4A4;
}
a:hover {
    color: #757575;
}
.alert{
  padding: 0px;
  margin: 0px;
}
.notice{
  padding: 0px;
  margin: 0px;
}

