!!!
%html
  %head
  	.gradient
    %link{href: "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}/, rel: "stylesheet", type: "text/css"}/
    %link{href: "application.css", rel: "stylesheet", type: "text/css"}/
    %title Smithsonian Mineral Repository
  %body
    .header
      Smithsonian Mineral Repository
    %div
      %nav{role: "main"}
 
    = yield
    
\/
.footer
  \/ Smithsonian Institution  |  10th Street and Constitution Ave. NW, Washington, DC 20560 | (202) 633-1000